{% extends "base.twig" %}
{% block content %}
	<article>
		<h1>{{ post.title ? post.title : '404 Not Found' }}</h1>
		<p>Sorry, we couldn't find what you're looking for.</p>
	</article>
{% endblock %}